.slider {
  position: relative;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;

}

.slides img:not(img.active) {
  display: none;
}

.slides img.active {
  display: block;
}

.controls {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.prev,
.next {
  width: 2rem;
  margin: 0.25rem;
  background-color: whitesmoke;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
}